html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    border: solid crimson;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 5%;
}
.number {
    background-color: DodgerBlue;
    color: white;
    width: 10rem;
    margin: 1rem;
    text-align: center;
    font-size: 30px;
}
.number:hover{
    background-color: blueviolet;
}
/*@media (max-width: 80rem) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}*/
.input_text{
    width: 5rem;
}
.inline_display{
    display: inline-block;
}