.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f8f9fa;
}

.link {
    text-decoration: none;
    color: #000;
    margin-left: 1rem;
}

.motionLinkStyle {
    font-weight: "bold";
    font-size: x-large;
}